<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Stoxs.se - Marknadstips till marknadspris{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        
        {% stylesheets output='css/compressed.css'
          '@StoxsAppBundle/Resources/public/css/bootstrap/bootstrap.css' 
        %}

            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
        {% endstylesheets %}
        <style type="text/css">
          body {
            padding-top: 60px;
          }
        </style>
        
        {% javascripts 
          '@StoxsAppBundle/Resources/public/js/main.js'
          '@StoxsAppBundle/Resources/public/js/jquery-1.6.4.min.js'
        %}
          <script src="{{ asset_url }}" type="text/javascript"></script> 
        {% endjavascripts %}
        
        {% block javascripts %}{% endblock %}
    </head>
    <body>
      <div class="topbar">
        <div class="fill">
          <div class="container">
            <a class="brand" href="{{ path('start') }}">Stoxs.se</a>
            <ul class="nav">
              <li class="active"><a href="{{ path('start') }}">Start</a></li>
              <li><a href="{{ path('how_it_works') }}">Hur funkar det?</a></li>
              <li><a href="{{ path('current_bids') }}">Aktuella bud</a></li>
              
              {% if is_granted("ROLE_ADMIN") %}
              <li><a href="{{ path('send_sms') }}">Skicka nytt sms</a></li>
              <li><a href="{{ path('new_auction') }}">Skapa ny auktion</a></li>
              {% endif %}
            </ul>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <p class="pull-right">
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            </p>
            {% else %}
            

                <form action="{{ path("fos_user_security_check") }}" method="post" class="pull-right">
                    <input class="input-small" type="text" id="username" name="_username"  placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" />
                    <input class="input-small" type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" />
                    <button class="btn" type="submit" id="_submit" name="_submit">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
                </form>
            
            {% endif %}
          </div>
        </div>
      </div>
      
      
      <div class="container">
        
        {% block herounit %}{% endblock %}
        {% block custombody %}{% endblock %}
        
        {% block body %}{% endblock %}
      
        
      </div> <!-- /container -->  
      
      
      <footer class="footer">
        <div class="container">
          <p class="pull-right"><a href="#">Upp</a></p>
          <p>
            
          </p>
        </div>
      </footer>
        
        
        <script type="text/javascript">
            var _kundo = _kundo || {};
            _kundo["org"] = "stoxs";
            _kundo["lang"] = "sv";
            _kundo["btn-type"] = "1";

            (function() {
                function async_load(){
                    var s = document.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = ('https:' == document.location.protocol ? 'https://static-ssl' : 'http://static') +
                    '.kundo.se/embed.js';
                    var x = document.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                }
                if (window.attachEvent)
                    window.attachEvent('onload', async_load);
                else
                    window.addEventListener('load', async_load, false);
            })();
        </script>
    </body>
</html>
