{% extends "::with_left_menu.html.twig" %}

{% block title -%}
  Lägg ett bud
{%- endblock %}

{% block colbody %}

<h1>Lägg ett bud</h1>
<p>Auktionen slutar {{ auction.stopTime|date("Y-m-d H:i:s") }}</p>



<form action="{{ path('agent_new', {'id': auction.id }) }}" {{ form_enctype(form) }} method="POST">

<fieldset>


{{ form_errors(form) }}

Jag vill betala max {{ form_widget(form.max_price, { 'attr': {'class': 'mini'}}) }} kr för minst position {{ form_widget(form.min_position, { 'attr': {'class': 'mini'}}) }} och vill {{ form_widget(form.discr) }}

{{ form_rest(form) }}
    
    <div class="actions">

        <input type="submit" class="btn primary" value="Lägg bud" />
    </div>
</form>




{% endblock %}