{% form_theme form theme %}
<h1>Registrera konto</h1>
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

<fieldset>


<div class="clearfix">
  {{ form_label(form.username) }}
  <div class="input">
      {{ form_widget(form.username, {'attr': {'class': 'xlarge'}}) }}
  </div>
</div>

<div class="clearfix">
  {{ form_label(form.email) }}
  <div class="input">
      {{ form_widget(form.email, {'attr': {'class': 'xlarge'}}) }}
  </div>
</div>


<div class="clearfix">
  <label>Personnummer</label>
  <div class="input">
      {{ form_widget(form.ssn, {'attr': {'class': 'xlarge'}}) }}
      <span class="help-block">Vi behöver ditt personnnummer för att fakturera dig</span>
      
  </div>
</div>

<div class="clearfix">
  <label>Mobilnummer</label>
  <div class="input">
      {{ form_widget(form.phoneNumber, {'attr': {'class': 'xlarge'}}) }}
  </div>
</div>

<div class="clearfix">
  {{ form_label(form.plainPassword.first) }}
  <div class="input">
      {{ form_widget(form.plainPassword.first, {'attr': {'class': 'xlarge'}}) }}
  </div>
</div>

<div class="clearfix">
  <label>Upprepa lösenord:</label>
  <div class="input">
      {{ form_widget(form.plainPassword.second, {'attr': {'class': 'xlarge'}}) }}
  </div>
</div>
    {{ form_rest(form) }}
    
    <div class="actions">

        <input type="submit" class="btn primary" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
